In [1]:
import pandas as pd
import numpy as np
from collections import Counter

### Clean families data:

In [2]:
families = pd.read_csv('families.csv')

In [3]:
families['lang_2_K'] = families['lang_2_K'].str.replace('0', '')
families['language_initial'] = families[['lang_1_K', 'lang_2_K']].agg(' '.join, axis=1)
families = families.fillna(0)
families['lang_2_K.1'] = families['lang_2_K.1'].astype('str')
families['lang_2_K.1'] = families['lang_2_K.1'].str.replace('0', '')
# families['lang_1_K_new'] = families['lang_1_K_new'].str.replace('0', '')

In [4]:
families['language'] = families[['lang_1_K_new', 'lang_2_K.1']].agg(' '.join, axis=1)

In [5]:
families.head(2)

,Unnamed: 0,lang_1_K,lang_2_K,Family,lang_1_K_new,lang_2_K.1,вябг1ахъахъиб,"0,1218255419",language_initial,language
0,0,Tindi,,Andic,Tindi,,берц1ахъахъиб,"0,7202347159",Tindi,Tindi
1,1,Kumyk,,Turkic,Kumyk,,вярг1яхъахъиб,"0,002449497695",Kumyk,Kumyk

In [6]:
families = families[['Family', 'language_initial', 'language']]

### Add new info to Garik's data

In [8]:
data_initial = pd.read_csv('annotate_kutans.csv')
data_initial.shape

(3173, 23)

Only matching:

In [9]:
data_initial = data_initial[data_initial['same_languages'] == True]
data_initial['lang_2_K'] = data_initial['lang_2_K'].astype('str')
data_initial['lang_1_K'] = data_initial['lang_1_K'].astype('str')
# data_initial['lang_2_K'] = data_initial['lang_2_K'].fillna(0)
data_initial['lang_2_K'] = data_initial['lang_2_K'].str.replace('nan', '')
# data_initial['lang_1_K'] = data_initial['lang_1_K'].fillna(0)
data_initial['lang_1_K'] = data_initial['lang_1_K'].str.replace('nan', '')
data_initial['language_initial'] = data_initial[['lang_1_K', 'lang_2_K']].agg(' '.join, axis=1)

In [10]:
data_initial['language_initial']

11                           Avar
12                          Kumyk
13                          Kumyk
14                       Chamalal
16                       Chamalal
                   ...
2163                      Lezgian
2166                        Kumyk
2170                    Tabasaran
2171    Aghul агульский собственно
2172                      Lezgian
Name: language_initial, Length: 1008, dtype: object

In [11]:
set(families['language_initial'].unique()) - set(data_initial['language_initial'].unique())

{'Chechen ',
 'Dargwa амузг.-шир.',
 'Dargwa санжинский',
 'Dargwa чахр.-сан.',
 'Dargwa шаринский',
 'Muslim Tat ',
 'Nogai ',
 'Russian ',
 'тат+ ',
 'тат. + азер. '}

In [12]:
data_initial = data_initial.set_index('language_initial').join(families.set_index('language_initial'))

In [13]:
data_initial = data_initial.dropna(subset=['language'])

In [15]:
data_initial = data_initial[data_initial['kutans'] == 'not_kutan']

In [16]:
data_initial.shape

(1003, 25)

In [18]:
data_initial.reset_index().to_csv('elevation_villages_correct.csv')

### Coordinates to ITM data
#### NB: NO Hinuq for now

In [93]:
# data_initial = pd.read_csv('merged_all_census_and_samira.csv')
# coords = data_initial[['eng_vil_name', 'Lat', 'Lon', 'Family']].dropna()
# coords.to_csv('coordinates.csv')

In [67]:
coords = pd.read_csv('elevation_corrected.csv').dropna()

In [71]:
coords = coords[['eng_vil_name', 'Lat', 'Lon']]

In [97]:
itm = pd.read_csv('ITM.csv')

In [98]:
itm = itm.set_index('residence').join(coords.set_index('eng_vil_name')).reset_index()

In [102]:
# itm[itm['Lat'].isna()].groupby('index').mean()

# itm.to_csv('itm_coords_Family.csv')

In [76]:
itm.to_csv('itm_coords_no_Hinuq.csv')